<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Group Page</title>
        <script type="text/javascript">
            function sendJSON() {
		var mainUser = document.getElementById('main_user').value;
		var numPeople = document.getElementById('num_people').value;
                var time = document.getElementById('time').value;
                var restaurant = document.getElementById('restaurant').value;
                var orderContent = document.getElementById('order_content').value;

                var xhr = new XMLHttpRequest();
                var url = "https://140.113.213.74/groups/";

                xhr.open("POST", url, true);

                xhr.setRequestHeader('Content-Type', 'application/json');

                var data = JSON.stringify({"main_user": mainUser, "num_people": numPeople,"time": time, "restaurant": restaurant, "order_content": orderContent});
		console.log(data);
                xhr.send(data);
            }
        </script>
    </head>
    <body>
        <h1> {{title}} </h1>
        <form method="post">
            <label for="main_user">Main user:</label>
            <input type="text" id="main_user" name="main_user"><br>
            <label for="num_people">Number of people:</label>
            <input type="text" id="num_people" name="num_people"><br>
            <label for="time">Time:</label>
            <input type="datetime" id="time" name="time"><br>
            <label for="restaurant">Restaurant:</label>
            <input type="text" id="restaurant" name="restaurant"><br>
            <label for="order_content">Order contents:</label>
            <input type="text" id="order_content" name="order_content"><br>
            <br>
            <button name="submit" id="submit" onclick="sendJSON()">submit</button>
        </form>
    </body>
</html>
