{% extends "layout.html" %}

{% block header %}
        <style type='text/css'>
            th {
                text-align: center;
            }
            td {
                text-align: center;
            }
        </style>
        <script>
            userName = "{{current_user.name}}"
            function join(group){
                console.log($(group).val());
                console.log(userName);
                var content = prompt("what do you want to eat?","");
                console.log(content);
                $.ajax({
                    type:"POST",
                    url:"https://140.113.213.74:8888/groups/"+$(group).val(),
                    data: JSON.stringify({"user_name":userName, "order_content":content}),
                    contentType: "application/json",
                    success: function(data, testStatus, xhr){
		                if(xhr.status=="200"){
                            console.log(data);
			                alert("Success!");
                            window.location.reload();
                        }
                        // if(xhr.status == '300'){
                        //     alert('Time Conflict');
                        //     window.location.replace("https://140.113.213.74:8888{{url_for('group_web.showGroup')}}");
                        // }
                        else{
                            alert("failed");
                            window.location.reload();
                        }
			        },
                    error: function(xhr, ajaxOptions, thrownError){
                        console.log(xhr.status, thrownError)
                        alert("Time conflict, failed!");
                        window.location.reload();
                    }
                });
                //location.reload();
            }

            function del(group){
                $.ajax({
                    type:"DELETE",
                    url:"https://140.113.213.74:8888/groups/delete",
                    data: JSON.stringify({"main_user":userName, "group_id":$(group).val()}),
                    contentType: "application/json",
                    success: function(data, testStatus, xhr){
		                        if(xhr.status=="200"){
			                    alert("Success!");
                                }
                                else if(xhr.status=="400"){
                                    alert("the group is succeeded");
                                }
			                }
                });
                location.reload();
            }



            function submit(){
                var dtToday = new Date();
                var selTime = new Date($('#datetime').val());
                if(selTime <= dtToday){
                    alert("You can't always live in the past");
                }
                else{
                    $.ajax({
                    type:"POST",
                    url:"https://140.113.213.74:8888/groups/",
                    data: JSON.stringify({"main_user":userName,
                        "restaurant":$('#restaurantSel').val(),
                        "order_content":$('#order').val(),
                        "time":$('#datetime').val(),
                        "num_people":$('#number').val()
                    }),
                    contentType: "application/json",
                    success: function(data, testStatus, xhr){
		                if(xhr.status=="200"){
			                alert("Success!");
                        }
                        else{
                            alert("failed");
                            }
			            }
                });
                location.reload();
                }
                
            }
            
            function now(){
                const nowTime = new Date()
                const timeObj ={
                    year: nowTime.getFullYear(),
                    month: nowTime.getMonth()+1,
                    date: nowTime.getDate(),
                    hour: nowTime.getHours(),
                    min: nowTime.getMinutes()
                }
                var timeString = timeObj['year'] +"-" + timeObj['month']+"-"+timeObj['date']+"T"+timeObj['hour']+":"+timeObj['min']
                //console.log(timeString)
                document.getElementById("datetime").value = timeString
            }

            $(document).ready(function() {
                now()
                $.getJSON("https://140.113.213.74:8888/groups", function(data) {
                    $.each(data['my_groups'], function(i, item) {
                        if(item.succeeded == 1) var sta = 'Succeeded';
                        else var sta = 'Unsucceeded';
                        if (item.main_user == userName && item.succeeded==0)
                        {
                            $('#my_body').append('<tr>' + '<td id="group_' + i + '">' + item.group_id + '</td>' + '<td>' + item.main_user + '</td>' + '<td>' + item.num_people + '</td>' +'<td>' + item.time + '<td>' + item.restaurant + '</td>' + '</td>' +  '<td>' + sta + '</td>' + '<td><button value="' + item.group_id+'" id="delete_button" onclick="del(this)" type="button" class="btn btn-outline-danger">delete</button></td>' + '</tr>');
                        }
                        else  $('#my_body').append('<tr>' + '<td id="group_' + i + '">' + item.group_id + '</td>' + '<td>' + item.main_user + '</td>' + '<td>' + item.num_people + '</td>' +'<td>' + item.time + '<td>' + item.restaurant + '</td>' + '</td>' +  '<td>' + sta + '</td>' + '<td></td></tr>');
                       
                    });
                    $.each(data['other_groups'], function(i, item) {
                        if(item.succeeded == 1){
                            var sta = 'Succeeded';
                            $('#other_body').append('<tr>' + '<td id="group_' + i + '">' + item.group_id + '</td>' + '<td>' + item.main_user + '</td>' + '<td>' + item.num_people + '</td>' +'<td>' + item.time + '<td>' + item.restaurant + '</td>' + '</td>' +  '<td>' + sta + '</td>'+ '<td></td></tr>');
                        }
                         
                        else {
                            var sta = 'Unsucceeded';
                            $('#other_body').append('<tr>' + '<td id="group_' + i + '">' + item.group_id + '</td>' + '<td>' + item.main_user + '</td>' + '<td>' + item.num_people + '</td>' +'<td>' + item.time + '<td>' + item.restaurant + '</td>' + '</td>' +  '<td>' + sta + '</td>'+ '<td><button value="' + item.group_id+'" id="join_button" onclick="join(this)" type="button" class="btn btn-outline-success">join</button></td>' + '</tr>');
                        }
                       
                    });                        
                });
            	$("#open_btn").click(function(){
					submit();
				});  
                
                
                // document.getElementById("restaurantSel").innerHTML='<option value="-1">xxx</option>'
                    

                msg_restaurant = ''
                $.getJSON("https://140.113.213.74:8888/restaurant/", function(data) {
                     //item.username
                    $.each(data, function(i, item) {
                        msg_restaurant=msg_restaurant +'<option value="'+item.username+'">'+item.username+'</option>'
                    });
                    document.getElementById("restaurantSel").innerHTML=msg_restaurant
                });


            });
        </script>
{% endblock %}
{% block content %}
<section class="contact section-show">
    <div class="container">
        <div class="section-title">
            <h2>Group</h2>
            <p>My Groups List</p>
        </div>
        <!-- <div class="text-center"><button type="button" id="creatButton" onclick="newFile()">creat</button></div> -->

        <table id="my_group" class='table table-dark table-hover'>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>創團人</th>
                    <th>人數</th>
                    <th>時間</th>
                    <th>餐廳</th>
                    <th>成團狀況</th>
                    <th>加入/刪除</th>
                </tr>
            </thead>
            <tbody id="my_body">
            </tbody>
        </table>

        <div class="section-title">
            <h2>Group</h2>
            <p>Other Groups List</p>
        </div>

        <table id="other_group" class='table table-dark table-hover'>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>創團人</th>
                    <th>人數</th>
                    <th>時間</th>
                    <th>餐廳</th>
                    <th>成團狀況</th>
                    <th>加入/刪除</th>
                </tr>
            </thead>
            <tbody id="other_body">
            </tbody>
        </table>
        <div class="section-title">
            <h2>New your group</h2>
            <p>Open Group </p>
        </div>

        <!-- <form id="groupForm" class="info-box php-email-form mt-4">
            <div id="groupInfo" title="New group" >
                <h3>Restaurant: <input type="text"  id="restaurantName"></h3>
                <h3>Number of people: <input type="text" id="number"></h3>
                <h3>Order: <input type="text" id="order"></h3>
                <h3>Date: <input id="datetime" type="datetime-local" value=""></h3>
                <div class="text-center">
                    <button type="submit" id="open_btn">submit</button> 
                </div>
            </div>
        </form> -->
        <form id="groupForm" class="info-box php-email-form mt-4">
            <div id="groupInfo" title="New group" >
                <h3>Restaurant:
                    <select id="restaurantSel" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></select>
                </h3>
                <h3>Number of people: 
                    <select id="number" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </h3>
                <h3>Order: <input type="text" id="order"></h3>
                <!-- <h3 id="time">Date: <input id="datetime" type="datetime-local" value=""></h3> -->
                <h3 id="time">Date: <input id="datetime" type="datetime-local" value=""></h3>
                <div class="text-center">
                    <button type="submit" id="open_btn">submit</button> 
                </div>
            </div>
        </form>
        
    </div>
</section>
{% endblock %}
