{% extends "layout.html" %}

{% block content %}			
<section class="contact section-show">
    <div class="container">
        <div class="section-title">
            <h2>Group</h2>
            <p>Group Page</p>
        </div>

        <!--
            add your code here!!
        -->
    </div>
</section>
{% endblock %}
