<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Fooriend</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link rel="shortcut icon" href="#">
    <!-- <link rel="stylesheet" href="http:140.113.213.74:8888/static/assets/css/Personal/assets/vendor/bootstrap/css/bootstrap.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>	

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    
    <link href="http://140.113.213.74:8888/static/assets/css/style.css" rel="stylesheet" >
    
    <link href="http://140.113.213.74:8888/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://140.113.213.74:8888/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="http://140.113.213.74:8888/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="http://140.113.213.74:8888/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="http://140.113.213.74:8888/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="http://140.113.213.74:8888/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    {% block header %}
    {% endblock %}

</head>
<body>
    
    {% include 'navbar.html' %}
    
    {% block content %}
    {% endblock %}

    <div class="credits">
        Copyright &copy; 2021-2021 &mdash; 炫芬與他的快樂夥伴
    </div>
    
    <!-- JS Files -->
    <script src="http://140.113.213.74:8888/static/assets/vendor/purecounter/purecounter.js"></script>
    <script src="http://140.113.213.74:8888/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="http://140.113.213.74:8888/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="http://140.113.213.74:8888/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="http://140.113.213.74:8888/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="http://140.113.213.74:8888/static/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="http://140.113.213.74:8888/static/assets/vendor/php-email-form/validate.js"></script>

    <script src="http://140.113.213.74:8888/static/assets/js/main.js"></script>
    
</body>
</html>
