{% extends "layout.html" %}

{% block header %}
<!--<script src="{{ url_for('static',filename='account.js')}}"></script>-->

<script>
    $(document).ready(function(){
        $("#submit_btn").click(function(){
            var account = $("#account").val();
            var password = $("#password").val();
            $.ajax ({
                url: "https://140.113.213.74:8888{{url_for('account_api.login')}}",
                type: "POST",
                cache: false,
                dataType: "json",
                data : JSON.stringify({"account": account, "password": password }),
                contentType: "application/json",
                success: function(data, testStatus, xhr){
                    if(xhr.status == '200'){
                       window.location.replace("http://140.113.213.74:8888{{url_for('account_web.reroute')}}");
                    }
                },
                error: function(xhr, ajaxOptions, thrownError){
				if(xhr.status == "400"){
					alert("Incorrect accont or password");
			window.location.replace("http://140.113.213.74:8888{{url_for('account_web.login')}}");
				}
                }
            });
        });
    });
</script>
{% endblock %}

{% block content %} 
<section class="contact section-show">
    <div class="container">
        <div class="section-title">
            <h2>Login</h2>
            <p>登入</p>
        </div>

        <form id="login-form" class="info-box php-email-form mt-4">
            <div class="form-froup mt-3">
                <h3>帳號</h3>
                <input id="account" type="text" class="form-control" name="account" placeholder="Account" required>
            </div>
            <div class="form-froup mt-3">
                <h3>密碼</h3>
                <input id="password" type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <br>
            <div class="text-center"><button type="submit" id="submit_btn">Login</button></div>
        </form>
    </div>
</section>
{% endblock %}
