<header id="header" class="header-top">
  <div class="container">
    <h1><a href="#">Fooriend</a></h1>

    <nav id="navbar" class="navbar">
      <ul>
        {% if auth == "none" %}
          <li><a class="nav-link" href="{{url_for('account_web.login')}}">登入</a></li>
          <li><a class="nav-link" href="{{url_for('account_web.select_Role')}}">註冊</a></li>
        {% else %}
          {% if current_user.identity=="customer" %}
	        <li><a class="nav-link" href="{{ url_for('group_web.showGroup')}}">Group</a></li>
          <li><a class="nav-link" href="{{ url_for('restaurant_web.showRestaurant')}}">Restaurant</a></li>
          <li><a class="nav-link" href="{{ url_for('order_web.order_list')}}">Order</a></li>
          <li><a class="nav-link" href="{{ url_for('profile_web.search_web', username= current_user.name) }}">Profile</a></li>
          {% elif current_user.identity=="restaurant"%}
	        <li><a class="nav-link" href="{{ url_for('profile_web.search_web', username=current_user.name)}}">Restaurant Info</a></li>
          <li><a class="nav-link" href="{{ url_for('order_web.order_list') }}">Order</a></li>
          {% endif %}
	        <li><a class="nav-link" href="{{ url_for('account_web.logout')}}">Logout</a></li>
        {% endif %}
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>

