{% extends "layout.html" %}

{% block header %}
{% if current_user.identity == "restaurant" %}
<script>
	function accept(ID){
		console.log(ID);
		var buttonID = "accept_btn_" + ID;
		var buttonText = "accept_" + ID;
		$.ajax({
			type:"POST",
			url: "http://140.113.213.74:8888/order/accept",
			data: JSON.stringify({"order_id":ID}),
			contentType: "application/json",
			success:function(data, testStatus, xhr){
				if(xhr.status=="200"){
					alert("accept order: " + ID);
					$("#accept_"+ID).text("accept");
					$("#accept_btn_"+ID).attr("disabled", true);
					//window.location.reload();
				}
				else if(xhr.status=="401"){
					alert("You don't have permission");
				}
			},
			error:function(xhr, ajaxOptions, thrownError){
				console.log(xhr.status);
				console.log(thrownError);
			}
		});
	}
</script>
{% endif %}
{% endblock %}

{% block content %}
<section class="contact section-show">
    <div class="container">
        <div class="section-title">
            <h2>Order</h2>
            <p>Order List</p>
        </div>
	<table id="order_list" class="table table-dark table-hover">
	    <thead>	
				<tr>
					<th>ID</th>
					<th>User</th>
					{% if current_user.identity == "customer"%}
					<th>Joined People</th>
					{% endif %}
					<th>Status</th>
					{% if current_user.identity == "customer"%}
					<th>Restaurant</th>
					{% endif %}
          <th>Detail</th>
          <th>Established time</th>
					{% if current_user.identity == "restaurant" %}
					<th>Accept</th>
					{% endif %}
				</tr>
			</thead>	
			<tbody>
				{% for order in orders %}
					<tr>
							<td>{{ order.id }}</td>
							<td>{{ order.username }}</td>
              {% if current_user.identity == "customer" %}					
              <td>{{ order.joined_user }}</td>
              {% endif %}

              <td id="accept_{{order.id}}">{{ "accept" if order.is_accept==1 else "not accept" }}</td>
							{% if current_user.identity == "customer" %}
              <td>{{ order.restaurant }}</td>
              {% endif %}
              <td>{{ order.content }}</td>
              <td>{{ order.time }}</td>
							{% if current_user.identity == "restaurant" %}
								<td><button class="btn btn-outline-success" id="accept_btn_{{ order.id }}" onclick='accept({{ order.id }})' {{"disabled" if order.is_accept==1 else ""}}>ACCEPT</button></td>
							{% endif %}
					</tr>
				{% endfor %}
			</tbody>
	</table>
 </div>
</section>
{% endblock %}
