{% extends "layout.html" %}
{% block header %}
{% endblock %}

{% block content %}
<section class="about-me section-show">
  <div class="container">
    <div class="section-title">
      <h2>Profile</h2>
      <p>Profile Setting</p>
    </div>

    <button type="button" class="btn btn-success" onclick="window.location.href='{{ url_for("profile_web.edit_page") }}'">編輯</button>

    <div class="row">
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>Hello, {{ current_user.name }}</h3>

    	{% if current_user.identity == "customer" %}
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>帳戶 (account):</strong> <span>{{ current_user.id }}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>名稱 (name):</strong> <span>{{ user["username"] }}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>性別 (gender):</strong> <span>{{ user["gender"] }}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>聯絡電話 (phone):</strong> <span>{{ user["phone"] }}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>郵件 (mail):</strong> <span>{{ user["mail"] }}</span></li>
            </ul>
          </div>
        </div>
	{% elif current_user.identity == "restaurant" %}
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>帳戶 (account):</strong> <span>{{ current_user.id }}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>名稱 (name):</strong> <span>{{ user["username"] }}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>聯絡電話 (phone):</strong> <span>{{ user["phone"] }}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>郵件 (mail):</strong> <span>{{ user["mail"] }}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>address :</strong> <span>{{ user["address"] }}</span></li>
	      <li><i class="bi bi-chevron-right"></i> <strong>menu :</strong> <span>{{ user["menu"] }}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>status :</strong> <span>{{"open" if user["status"]== 1 else "closed" }}</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

  </div>
</section>
{% endblock %}
