{% extends "layout.html" %}
{% block header %}
<script>
    $(document).ready(function(){
        $("#submit_btn").click(function(){
	    var name = $("#username").val();
            var phone = $("#phone").val();
            if(!$("#username").val()){ name = '{{ user_info["username"]}}';}
            if(!$("#phone").val()){ phone = '{{ user_info["phone"]}}';}
      var mail = $("#mail").val();
      if(!$("#mail").val()){mail = '{{ user_info["mail"] }}';}
	    {% if current_user.identity == "customer"%}
            var gender = $("#gender_male").is(":checked") ? "male" : "female";
	    {% else %}
	    var address = $("#address").val();
	    var menu = $("#menu").val();
	    var busStatus = $("#status_open").is(":checked") ? 1 : 0;
            if(!$("#address").val()){ address = '{{ user_info["address"]}}';}
            if(!$("#menu").val()){ menu = '{{ user_info["menu"]}}';}
	    {% endif %}
	    $.ajax ({
                url: "{{URL}}",
                type: "POST",
                cache: false,
                dataType: "json",
		{% if current_user.identity == "customer" %}
                data: JSON.stringify({"username":name, "phone":phone, "gender":gender, "mail":mail}),
		{% else %}
                data: JSON.stringify({"username":name, "phone":phone, "address":address, "menu":menu, "open": busStatus, "mail":mail}),
		{% endif %}
                contentType: "application/json",
                success: function(data, testStatus, xhr){
		    if(xhr.status=="200"){
			alert("Success!")
			window.location.replace("{{url_for('profile_web.search_web', username=current_user.name)}}");
		    }
                },
                error: function(xhr, ajaxOptions, thrownError){
                    console.log(xhr.status);
                    console.log(thrownError);
	            alert("Update Failed")
	            window.location.replace("{{url_for('profile_web.edit_page')}}");
                }
            });
        });
    });
</script>
{% endblock %}

{% block content %}
<section class="contact section-show">
  <div class="container">
    <div class="section-title">
      <h2>Profile</h2>
      <p>Profile Edit</p>
    </div>

    <form class="info-box php-email-form mt-4">
      <div class="mb-2">
        <h3 for="username">使用者名稱 (username)</h3>
        <input type="text" class="form-control" id="username" placeholder="{{ user_info['username'] }}" aria-describedby="Username">
      </div>
      <div class="mb-2">
        <h3 for="phone">電話 (phone)</h3>
        <input type="tel" class="form-control" id="phone" placeholder="{{ user_info['phone'] }}">
      </div>

      <div class="mb-2">
        <h3 for="mail">郵件 (mail)</h3>
        <input type="mail" class="form-control" id="mail" placeholder="{{ user_info['mail'] }}">
      </div>
      
      {% if current_user.identity == "customer" %}
      <div class="mb-3">
        <h3 for="gender">性別 (gender)</h3>
        
        <p for="gender_male"><input type="radio" name="gender" id="gender_male" {{ "checked" if user_info["gender"]=="male" else "" }}>
          男
        </p>
        
        <p for="gender"><input type="radio" name="gender" id="gender_female" {{ "checked" if user_info["gender"]=="female" else "" }}>
          女
        </p>
      </div>

      {% elif current_user.identity == "restaurant" %}
      <div class="mb-2">
        <h3 for="address">地址 (address)</h3>
        <input type="text" class="form-control" id="address" placeholder="{{ user_info['address'] }}">
      </div>
      <div class="mb-2">
        <h3 for="menu">菜單 (menu link)</h3>
        <input type="text" class="form-control" id="menu" placeholder="{{ user_info['menu'] }}">
      </div>

      <div class="mb-3">
        <h3 for="status">營業狀態 (business status)</h3>
        
        <p for="status"><input type="radio" name="status" id="status_open" {{ "checked" if user_info["status"]==1 else "" }}>
          營業
        </p>
        
        <p for="status"><input type="radio" name="status" id="status_closed" {{ "checked" if user_info["status"]==0 else "" }}>
          We are closed now.
        </p>
      </div>
      {% endif %}
      <div class="text-center"><button type="submit" id="submit_btn">Submit</button></div>
    </form>
  </div>
</section>
{% endblock %}
