{% extends "layout.html" %}

{% block header %}
        <style type='text/css'>
            .text {
                height: 30px;
            }
        </style>
{% endblock %}

{% block content %}
    <section class="contact section-show">
        <div class="container">
            <div class="section-title">
                <h2>Register</h2>
                <p>註冊</p>
            </div>

            <form class="info-box php-email-form mt-4">
                <div class="form-froup mt-3">
                    <h3 for='account'>帳號</h3>
                    <input id="account" type="text" class="form-control" name="account" placeholder="Account">
                </div>
                <div class="form-froup mt-3">
                    <h3 for='password'>密碼</h3>
                    <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <div class="form-froup mt-3">
                    <h3 for='username'>Name: </h3>
                    <input type='text' class='form-control' id='username' name='username' placeholder='Your name'>
                </div>
                <div class="form-froup mt-3">
                    <h3 for='phone'>Phone: </h3>
                    <input type='text' class='form-control' id='phone' name='phone' placeholder='Your phone'>
                </div>
                <div class="form-froup mt-3">
                    <h3 for='mail'>Mail: </h3>
                    <input type='text' class='form-control' id='mail' name='mail' placeholder='Your mail'>
                </div>
                <!-- <div class="form-froup mt-3">
                    <h3 for='identityDiv'>身分: </h3>
                    
                    <p for='customer'><input type='radio' id='customer' name='identity' value='customer' checked='checked'> Customer</p>
                    
                    <p for='restaurant'><input type='radio' id='restaurant' name='identity' value='restaurant'> Restaurant</p>
                </div> -->
                <div id='info_area' class="form-froup mt-3">
                    <h3 for='genderDiv'>Gender: </h3>
                    
                    <p for='male'><input type='radio' id='male' name='gender' value='male'> Male</p>
                    
                    <p for='female'><input type='radio' id='female' name='gender' value='female'> Female</p>
                </div>
                <div class="text-center"><button type="submit" id="finish">Submit</button></div>
            </form>
<!--
        <h1>註冊</h1>
        <form action='' method=''>
            <label for='account'>帳號: </label>
            <input type='text' class='text' id='account' name='account' placeholder='帳號'><br>
            <label for='password'>密碼: </label>
            <input type='password' class='text' id='password' name='password' placeholder='密碼'><br>
            <label for='username'>Name: </label>
            <input type='text' class='text' id='username' name='username' placeholder='Your name'><br>
            <label for='phone'>Phone: </label>
            <input type='text' class='text' id='phone' name='phone' placeholder='Your phone'><br>
            <label for='identityDiv'>身分:</label>
            <input type='radio' id='customer' name='identity' value='customer' checked='checked'>
            <label for='customer'>Customer</label>
            <input type='radio' id='restaurant' name='identity' value='restaurant'>
            <label for='restaurant'>Restaurant</label><br><br>
            <div id='info_area'>
                <label>Gender:</label>
                <input type='radio' id='male' name='gender' value='male'>
                <label for='male'>Male</label>
                <input type='radio' id='female' name='gender' value='female'>
                <label for='female'>Female</label><br><br>
            </div>
            <button id='finish' type='' onclick='sendJson()'>Submit</button>
        </form>
    -->
        </div>
    </section>
        
        <script type='text/javascript'>
            var identity = '';
            let info_area = document.querySelector('#info_area');
            $(document).ready(function(){
                var coo = document.cookie;
                var cname = 'role=';
                var ca = document.cookie.split(';');
                identity = ca[0].split('=')[1];
                switch (identity) {
                    case 'customer':
                        info_area.innerHTML = "<h3 for='genderDiv'>Gender: </h3><p for='male'><input type='radio' id='male' name='gender' value='male'> Male</p><p for='female'><input type='radio' id='female' name='gender' value='female'> Female</p>";
                        break;
                    case 'restaurant':
                        info_area.innerHTML = "<h3 for='address'>Address:</h3><input type='text' class='text' id='address' name='address' placeholder='Your address'><br><h3 for='menu'>Menu:</h3><input type='text' class='text' id='menu' name='menu' placeholder='Your menu link'><br><h3>Status:</h3><p for='open'><input type='radio' id='open' name='status' value='open'> Open</p><p for='close'><input type='radio' id='close' name='status' value='close'> Close</p>";
                        break;
                }
            });

            var url=location.href;
            if(url.indexOf('?')!=-1){
                var id="";
                var ary=url.split('?')[1].split('&');
                for(i=0;i<=ary.length-1;i++){
                    if(ary[i].split('=')[0]=='role'){
                        console.log(ary[i].split('=')[1]);
                    }
                }
            }

            $(document).ready(function() {
                $("#finish").click(function(){
                    var account = $("#account").val();
                    var password = $("#password").val();
                    //var identity= $('input[name="identity"]:checked').val();
                    alert(identity);
                    var username = $("#username").val();
                    var phone = $("#phone").val();
                    var mail = $("#mail").val();
                    var sta = '0';
                    if(identity == 'restaurant') {
                        var addr = $("#address").val();
                        var menu = $("#menu").val();
                        var status = $('input[name="status"]:checked').val();
                        if(status == 'open') {
                            sta = '1';
                        }
                        $.ajax ({
                            url: "https://140.113.213.74:8888{{url_for('account_api.register')}}",
                            type: "POST",
                            cache: false,
                            dataType: "json",
                            data: JSON.stringify({"role": identity, "account": account, "password": password, "username": username, "phone": phone, "mail": mail, "address": addr, "menu": menu, "status": sta}),
                            contentType: "application/json",
                            success: function(data, testStatus, xhr){
                                if(xhr.status == '200'){
                                    window.location.replace("https://140.113.213.74:8888{{url_for('account_web.login')}}");
                                }
                            },
                            error: function(xhr, ajaxOptions, thrownError){
                                if(xhr.status == '400'){
                                    //alert(identity+' '+account+' '+password+' '+username+' '+phone+' '+menu+' '+addr+' '+sta);
                                    alert(mail);
                                    alert("Register Failed !");
                                    window.location.replace("https://140.113.213.74:8888{{url_for('account_web.register')}}");
                                }
                            }
                        });
                    }
                    else {
                        var gender = $('input[name="gender"]:checked').val();
                        $.ajax ({
                            url: "https://140.113.213.74:8888{{url_for('account_api.register')}}",
                            type: "POST",
                            cache: false,
                            dataType: "json",
                            data: JSON.stringify({"role": identity, "account": account, "password": password, "username": username, "gender": gender, "phone": phone, "mail": mail}),
                            contentType: "application/json",
                            success: function(data, testStatus, xhr){
                                if(xhr.status == '200'){
                                    window.location.replace("https://140.113.213.74:8888{{url_for('account_web.login')}}");
                                }
                            },
                            error: function(xhr, ajaxOptions, thrownError){
                                //alert(identity + account + password + gender + phone);
                                alert(mail);
                                alert("Register Failed !");
                                window.location.replace("https://140.113.213.74:8888{{url_for('account_web.register')}}");
                            }
                        });
                    }
                });
            });

            // function sendJson() {
            //     var account = document.getElementById('account').value;
            //     var password = document.getElementById('password').value;
            //     var restaurant = document.getElementById('restaurant').checked;
            //     //alert(restaurant)
            //     var username = document.getElementById('username').value;
            //     var phone = document.getElementById('phone').value;
            //     var identity = 'customer';
            //     if (restaurant == true) {
            //         identity = 'restaurant';
            //         var address = document.getElementById('address').value;
            //         var menu = document.getElementById('menu').value;
            //         var status = document.getElementById('status').value;
            //         var data = JSON.stringify({'account':account, 'password':password, 'role':identity, 'username':username, 'phone':phone, 'address':address, 'menu':menu, 'status':status});
            //     }
            //     else {
            //         var gender = document.getElementById('gender').value;
            //         var data = JSON.stringify({'account':account, 'password':password, 'role':identity, 'username':username, 'phone':phone, 'gender':gender});
            //     }
            //     var xhr = new XMLHttpRequest();
            //     var url = "http://192.168.0.103/account/register";
		
		    //     alert(url);
            //     xhr.open('POST', url, true);

            //     xhr.setRequestHeader('Content-Type', 'application/json');

            //     xhr.send(data);
            // }
        </script>
{% endblock %}
