{% extends "layout.html" %}

{% block header %}
        <style type="text/css">
            th {
                text-align: center;
            }
            td {
                text-align: center;
            }
        </style>
        <script>
            $(document).ready(function() {
                $.getJSON("https://140.113.213.74:8888/restaurant/", function(data) {
                    $.each(data, function(i, item) {
                        /*
                        $('#list_body').append('<tr><td id="restaurant_' + i + '">' + item.username + '</td>');
                        $('#list_body').append('<td>' + item.phone + '</td>');
                        $('#list_body').append('<td>' + item.address + '</td>');
                        $('#list_body').append('<td>' + item.menu + '</td>');
                        $('#list_body').append('<td>' + item.status + '</td></tr>');
                        */
                        var _status = (item.status == 1)? "on":"off"; 
                        $('#list_body').append('<tr><td id="restaurant_' + i + '">' + item.username + '</td>' + '<td>' + item.phone + '</td>' + '<td>' + item.address + '</td>' + '<td>' + item.menu + '</td>' + '<td>' + _status + '</td></tr>');
                    });
                });
            });
        </script>
{% endblock %}

{% block content %}
<section class="contact section-show">
    <div class="container">
        <div class="section-title">
            <h2>Restaurant</h2>
            <p>Restaurant List</p>
        </div>

        <table id="restaurant_list" class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>名稱</th>
                    <th>電話</th>
                    <th>地址</th>
                    <th>菜單</th>
                    <th>營業狀況</th>
                </tr>
            </thead>
            <tbody id="list_body">
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
