{% extends "layout.html" %}

{% block header %}
{% endblock %}

{% block content %}
    <section class="services section-show">
        <div class="container">
            <div class="section-title">
                <h2>Register</h2>
                <p>註冊</p>
            </div>
            
            <div class="row">
                <div class="col-md-6" id='customer'>
                    <a href="https://id.nycu.edu.tw/o/authorize/?client_id=PDgwWhMDCNbeInYChAKg1OnTGs7Vr1J7Xzs3HpXm&response_type=code&scope=profile">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-mortarboard"></i></div>
                            <h4>Customer</h4>
                            <p>If you are part of NYCU, register through NYCU OAuth.</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-6" id='restaurant'>
                    <a href="{{url_for('account_web.register')}}">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-bag-plus"></i></div>
                            <h4>Restaurant</h4>
                            <p>Others, register through our website.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <script type='text/javascript'>
        $("#customer").click(function() {
            var expires = new Date();
            expires.setTime(expires.getTime() + 60000); // 30 seconds
            document.cookie = "role=" + escape('customer') + ';expires=' + expires.toGMTString();
            //window.location.href = "https://140.113.213.74:8888{{url_for('account_web.register')}}";
        });

        $("#restaurant").click(function() {
            var expires = new Date();
            expires.setTime(expires.getTime() + 60000); // 30 seconds
            document.cookie = "role=" + escape('restaurant') + ';expires=' + expires.toGMTString();
            //window.location.href = "https://140.113.213.74:8888{{url_for('account_web.register')}}";
        });
    </script>
        
{% endblock %}
