{% extends "layout.html" %}

{% block header %}
        <style type='text/css'>
            th {
                text-align: center;
            }
            td {
                text-align: center;
            }
        </style>
        <script>
            function delete_account(account){
							console.log("delete: "+account);
              fetch("https://140.113.213.74:8888/supervisor/" + account, {
                  method: 'DELETE'
              })
              .then(function(response){
									return response.json();
							})
							.then(function(result){
									console.log(result);
									location.reload();
							})
            }
            
						$(document).ready(function() 
            {
							console.log("ready");
                $.getJSON("http://140.113.213.74:8888/supervisor", function(data) 
                {
                    var identity = ["customer", "VIP", "restaurant"];
                    $.each(data, function(i, item) {
                        console.log(item.account);
                        if(item.identity==4){return;}
												$('#list_body').append('<tr><td id="account_' + i + '">' + item.account + "</td><td>" + identity[parseInt(item.identity)-1] + "</td><td><button class='btn btn-outline-danger' type='button' id='delete_button_'"+item.account+" onclick=delete_account('"+item.account+"')>Remove This Account</button></td></tr>");
                    });
                });
            });

            
        </script>
{% endblock %}
{% block content %}
<section class="contact section-show">
    <div class="container">
        <div class="section-title">
            <h2>Supervisor</h2>
            <p>account List</p>
        </div>

        <table id="account_list" class='table table-dark table-hover'>
            <thead>
                <tr>
                    <th>Account</th>
                    <th>Identity</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody id="list_body">
                <div>
                    <!-- <label for="name">delete account: </label> -->
                    <!-- <input type="text" id="name" required> -->
                    <!-- <button type="button" value="delete" id="delete_button" style="width:100px;height:20px"> -->
                    <!-- <button type="submit" id="delete_button">delete</button> -->
                </div>

            </tbody>
        </table>
    </div>
</section>
{% endblock %}
